# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Mac system files
.DS_Store

# IDE settings
.vscode/
.idea/

# Coverage reports
coverage/